@charset "UTF-8";
@import "global/params", "global/_mixin";

/*reset*/
html * { -webkit-text-size-adjust: none; -moz-text-size-adjust: none; outline: none; -webkit-tap-highlight-color: transparent; }
html, body { background:$bg-color;font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif; height: 100%; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, a { padding: 0; margin: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-weight:normal}
/*input, button, select, textarea { outline: none; -webkit-appearance: none; }*/
a, button, input, div { -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent;}
input:focus, textarea:focus { outline: none; padding: 0; margin: 0; }
dl, dt, dd, ul, ol, li { list-style: none; }
a { text-decoration:none; font-weight: normal;color:$gray-light-color}
h1,h2,h3{font-weight: normal;}
small{font-size:$number_12;color:$gray-light-color}

/*公用*/
.hide{display:none !important}
.text-overflow { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.dis-hide { visibility: hidden; }
.del-text { text-decoration: line-through; }
.text-align { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-justify{text-align-last:justify;}
.br-none { border: none !important; }
.br-t-none { border-top: none !important; }
.br-b-none { border-bottom: none !important; }
.br-l-none { border-left: none !important; }
.br-r-none { border-right: none !important; }
.mg-clear { margin: 0; }
.mg-t-clear { margin-top: 0; }
.mg-b-clear { margin-bottom: 0; }
.mg-l-clear { margin-left: 0; }
.mg-r-clear { margin-right: 0; }
.pd-clear { padding: 0 !important; }
.pd-t-clear { padding-top: 0 !important; }
.pd-b-clear { padding-bottom: 0 !important; }
.pd-l-clear { padding-left: 0 !important; }
.pd-r-clear { padding-right: 0 !important; }
.fl { float: left !important; }
.fr { float: right !important; }
.clear{clear:both;overflow:hidden;}
.gray-color{color:#b0b0b0;}
.m-t30{margin-top:30px;}
.m-l-10{margin-left:10px;}

/*主体框架*/
.body-content{background:$white-color;height:100%;width:100%;overflow:hidden;color:#333333;}
/*头部*/
.header-main{height:45px;;background:#222;
  .left{float:left;color:$white-color;line-height:45px;padding-left:20px;
    &>img{height:30px;width:30px;vertical-align: middle;}
  }
  .right{float:right;color:$white-color;font-size:14px;padding-right:30px;
    .userinfo{line-height:45px;color:$white-color;
      &>img{width:24px;height:24px;border-radius:50%;vertical-align: middle;}
    }
    .out{color:$white-color;padding-left:20px;}
  }
}
/*主体内容*/
.content-main{height:100%;width:100%;left:0;top:0;overflow:hidden;}
.content-main .left-bar{width:195px;background:#eeeeee;height:100%;position:absolute;left:0;top:45px;padding-top:10px;
  a{font-size:14px;height:40px;line-height:40px;border-bottom:1px solid $br-color;font-size:14px;display:block;color:#333;}
  .h1{text-align:center; }
  .h2{padding-left:40px;}
  .active{background:#169bd6;color:$white-color;}
}
.content-main .right-content{margin-left:200px;overflow-y:auto;height:100%;padding-bottom:40px;}


/*登录*/
.login-box{width:534px;height:382px;position:absolute;top:50%;left:50%;margin-left:(534/2) * -1px;;margin-top:(382/2) * -1px;
  &>h1{height:60px;line-height:60px;text-align:center;font-size:30px;}
  .form-box{overflow:hidden;font-size:14px;
    .li{height:40px;line-height:40px;width:380px;margin:0 auto;margin-top:10px;clear:both;
      ._t{width:120px;text-align:right;float:left;padding-right:40px;}
      ._input{width:260px;text-align:left;float:left;
        &>input{border:1px solid $br-color;height:30px;width:260px; }
      }
      .getcode{width:80px;border:1px solid $br-color;float:right;font-size:12px;text-align:center;height:30px;margin-top:6px;line-height:30px;}
      .dis{background:$gray-light-color;color:#666;border:none; }
    }
    .getcode_li{
      ._input{width:170px;text-align:left;float:left;
        &>input{border:1px solid $br-color;height:30px;width:170px; }
      }
    }
    .resetpwd{margin:0 auto;text-align:right;}
    .form-btn{margin:0;
      &>a{width:194px;margin:0 auto;height:35px;text-align:center;background:#169bd6;display:block;line-height:35px;color:$white-color;border-radius:5px;margin-top:60px;}
    }
  }
}


/*个人中心*/
.account-content{padding:10px 40px;
  ._title{height:40px;line-height:40px;font-size:14px;
    .fr{
      &>a{color:$blue-light-coolor;}
    }
  }
  ._content{border-bottom:1px solid $br-color;overflow:hidden;padding:20px;
    .userlogo{width:84px;height:84px;border:1px solid $br-color;position:relative;background:#f5f5f5 url(../images/admin/upload_add.png) no-repeat center;
      .imgs{width:100%;height:100%;
        &>img{width:100%;height:100%;border-radius:5px;}
      }
      .close{position:absolute;right:-11px;top:-11px;width:22px;height:22px;background:url(../images/admin/ic_delete.png) no-repeat left top;}
    }
    .r-info{padding-left:10px;font-size:14px;text-align:left;padding-top:16px;}
    .li_text{height:24px;line-height:24px;margin-top:10px;
      ._t{padding-right:10px;color:#b3b3b3;width:100px;text-align:right;}
      ._info{color:#666;}
    }
  }
  .btn-box{padding-top:100px;text-align:center;margin-top:20px;overflow:hidden;
    &>button{width:146px;height:30px;margin:0 auto;border:none;background:$blue-light-coolor;color:$white-color;border-radius:5px;display:inline-block;}
  }
}

/*通用列表*/
.list-content{overflow:hidden;
  .search{padding:20px;overflow:hidden;
    .input{float:left;height:30px;width:340px;border:1px solid $br-color;
      input{width:100%;height:100%;border:none;}
    }
    .btn{width:88px;height:30px;background:#5eb95c;float:left;color:$white-color;text-align:center;border:none;margin-left:10px;}
  }
  .search-edit{border:1px solid #e7e8ec;margin:20px;padding:20px;
    ._t{font-size:13px;clear:both;}
    .input-list{padding-top:10px;clear:both;overflow:hidden;
      .inputs{overflow:hidden;float:left;margin-top:10px;
        ._t{width:80px;text-align:right;height:30px;line-height:30px;margin-right:10px;}
        ._input{
          &>input,select{height:25px;line-height:25px; padding-left:10px;width:150px; }
        }
      }
    }
    .btns{clear:both;overflow:hidden;padding-top:10px;text-align:right;
      &>button{margin-right:20px;width:120px;height:30px;border:none;background:$blue-light-coolor;color:$white-color;border-radius:5px;display:inline-block;}
    }
  }
  .tools-bar{margin:0 20px;background:#f5fafe;height:42px;border:1px solid $br-color;border-radius:3px;
    .del{background:#dc514c;width:100px;border:none;height:33px;color:#fff;border-radius:3px;margin:4px 0 0 4px; }
    .add{background:#5a99e0;width:100px;border:none;height:33px;color:#fff;border-radius:3px;margin:4px 4px 0 0; }
  }
  .table-content{margin:20px;font-size:14px;
    &>table{width:100%;border-spacing:1px;background:$br-color;
      input{-webkit-appearance: !important;}
      td{background:#fff;text-align:center;height:35px;}
      .bg-gary{background:#f5fafe;height:35px;}
      .edit{
        &>a{color:$blue-light-coolor;}
      }
    }
  }
  .pages{margin-top:30px;padding:0 20px;text-align:right;font-size:14px;
    a{display:inline-block;height:34px;width:34px;border:1px solid $br-color;text-align:center;line-height:34px;color:#666;}
    a.active{color:#fff;background: #169bd6;border:none;}
  }

  .infobox{font-size:12px;margin-left:40px;margin-top:40px;border-bottom:1px solid $br-color;padding-bottom:10px;
    h1{font-size:14px;color:#333;}
    .money{color:#159ad5;font-size:18px;padding-top:10px;
      p{font-size:12px;color:#999;}
    }
  }
}

/*按钮*/
.edit-btn{padding-left:300px;}
.cancel{background:#cbcdcd !important;margin-left:20px !important;}
.edit-input{border:1px solid $br-color;height:26px;padding-left:10px;}
.w100{width:100px}
.w200{width:200px}
.w300{width:300px !important;}

/*图片上传*/
.imgupload-box{width:208px;height:120px;border:1px solid $br-color;margin-left:30px;float:left;position:relative;background:#f5f5f5 url(../images/admin/upload_add.png) no-repeat center;
  .tag{position:absolute;bottom:5px;left:50%;font-size:14px;margin-left:-14px;}
  &>img{width:100%;height:100%;}
}


/*阿姨照片审核*/
.sh{padding:20px !important;
  .title{height:30px;line-height:30px;border-bottom:1px solid $br-color;font-size:13px;}
  .phone-list{padding:20px;border:1px solid $br-color;margin-top:10px;
    .li{border-bottom:1px solid $br-color;height:216px;font-size:13px;
      ._list{padding-top:20px;
        &>img{display:inline-block;width:130px;height:120px;margin-right:20px;}
        .linksh{color:#333;}
      }
    }
  }
  /*审核详情*/
  .sh-ing{border:1px solid $br-color;background:#f5f5f5;font-size:12px;height:80px;width:800px;margin-top:10px;padding:0 30px;
    .do{float:left;height:80px;width:80px;line-height:80px;text-align:center;color:#666;
      span{border-radius:50%;height:24px;width:24px;line-height:24px;text-align:center;display:inline-block;background:#c7c5c6;color:#fff;}
    }
    &>hr{width:240px;margin-top:40px;}
  }
  .ing_1{
    .ing1{font-weight:bold;color:#333;
      &>span{background:#5eb85e;color:$white-color;}
    }
  }
  .ing_2{
    .ing1{font-weight:bold;color:#333;
      &>span{background:#5eb85e;color:$white-color;}
    }
    .ing2{font-weight:bold;color:#333;
      &>span{background:#5eb85e;color:$white-color;}
    }
  }
  .ing_3{
    .ing1{font-weight:bold;color:#333;
      &>span{background:#5eb85e;color:$white-color;}
    }
    .ing2{font-weight:bold;color:#333;
      &>span{background:#5eb85e;color:$white-color;}
    }
    .ing3{font-weight:bold;color:#333;
      &>span{background:#5eb85e;color:$white-color;}
    }
  }
  .uploadinfo{font-size:12px;color:#666;padding-top:10px;padding-bottom:30px;
    .li_text{height:20px;line-height:20px;
      ._t{padding-right:10px;color:#b3b3b3;width:80px;text-align:right;}
      ._info{color:#666;}
    }
  }
}
/*统计*/
.statistics{padding:20px;font-size:14px;border:1px solid #e7e8ec;margin:0 20px;
  .li{height:40px;line-height:40px;border-bottom:1px dotted #e7e8ec;
    .l{float:left;min-width:400px;}
    .m{float:left;}
    .r{float:right;}
  }
}

/*表格title*/
.table_title{height:30px;line-height:30px;font-size:14px;}
.btns{clear:both;overflow:hidden;padding-top:10px;text-align:right;
  &>button{margin-right:20px;width:120px;height:30px;border:none;background:$blue-light-coolor;color:$white-color;border-radius:5px;display:inline-block;}
}

/*重写*/
button.edit{margin-right:20px;padding:0 20px;height:24px;border:none;background:$blue-light-coolor;color:$white-color;border-radius:5px;display:inline-block;}


/*提示*/
.modal-box{background:#fff;position:absolute;top:40%;left:40%;width:400px;height:200px;border-radius:5px;/*margin-top:-150%;margin-left:-200px;*/border:1px solid #222;z-index:9999;font-size:0;
  ._title{height:30px;line-height:30px;font-size:13px;padding:0 10px;border-bottom:1px solid #eee;background:#222;color:#fff;
    h1{float:left;font-size:14px;font-weight:bold;}
    .close{float:right;}
  }
  ._content{background:#fff;font-size:0;
    .left{float:left;width:150px;border-right:1px solid #169bd6;
      li{height:30px;line-height:30px;border-bottom:1px solid #169bd6;font-size:13px;padding-left:10px;}
      li.active{height:30px;line-height:30px;border-bottom:1px solid #169bd6;font-size:13px;padding-left:10px;background:#169bd6;color:#fff;}
    }
    .right{float:left;}
    ._tab{width:100%;margin-top:10px;clear:both;overflow:hidden;
      li{float:left;width:50%;text-align:center;height:30px;line-height:30px;border-top:1px solid #eeeeee;border-bottom:1px solid #eeeeee;font-size:13px;}
      li.active{background:#eeeeee;color:#333}
    }
    ._list{margin:10px 20px;overflow:hidden;
      .li{float:left;height:30px;line-height:30px;font-size:13px;margin-right:14px;
        &>input{margin-right:10px;}
      }
    }
  }
}

/*超链接问题*/
.afont{color:$blue-light-coolor;font-size:12px;}

/*表格头部样式*/
.table-topbutton{margin-left:20px;
  .dis{background:$gray-color;color:$white-color;}
}

