/*
Error: Invalid CSS after "...fff;font-size:0": expected ";", was ".left{float:lef..."
        on line 261 of admin.scss

256:   ._title{height:30px;line-height:30px;font-size:13px;padding:0 10px;border-bottom:1px solid #eee;background:#222;color:#fff;
257:     h1{float:left;font-size:14px;font-weight:bold;}
258:     .close{float:right;}
259:   }
260:   ._content{background:#fff;font-size:0
261:     .left{float:left;width:150px;border-right:1px solid #169bd6;
262:       li{height:30px;line-height:30px;border-bottom:1px solid #169bd6;font-size:13px;padding-left:10px;}
263:       li.active{height:30px;line-height:30px;border-bottom:1px solid #169bd6;font-size:13px;padding-left:10px;background:#169bd6;color:#fff;}
264:     }
265:     .right{float:left;}
266:     ._tab{width:100%;margin-top:10px;clear:both;overflow:hidden;

Backtrace:
admin.scss:261
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:1207:in `expected'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:1137:in `expected'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:1132:in `tok!'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:786:in `block in try_declaration'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:1183:in `call'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:1183:in `rethrow'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:791:in `try_declaration'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:720:in `declaration_or_ruleset'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:685:in `block_child'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:677:in `block_contents'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:666:in `block'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:685:in `block_child'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:677:in `block_contents'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:666:in `block'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:658:in `ruleset'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:684:in `block_child'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:677:in `block_contents'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:41:in `parse'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/engine.rb:406:in `_to_tree'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/engine.rb:281:in `render'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `each'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/exec/base.rb:52:in `parse'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/exec/base.rb:19:in `parse!'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...fff;font-size:0\": expected \";\", was \".left{float:lef...\"\A         on line 261 of admin.scss\A \A 256:   ._title{height:30px;line-height:30px;font-size:13px;padding:0 10px;border-bottom:1px solid #eee;background:#222;color:#fff;\A 257:     h1{float:left;font-size:14px;font-weight:bold;}\A 258:     .close{float:right;}\A 259:   }\A 260:   ._content{background:#fff;font-size:0\A 261:     .left{float:left;width:150px;border-right:1px solid #169bd6;\A 262:       li{height:30px;line-height:30px;border-bottom:1px solid #169bd6;font-size:13px;padding-left:10px;}\A 263:       li.active{height:30px;line-height:30px;border-bottom:1px solid #169bd6;font-size:13px;padding-left:10px;background:#169bd6;color:#fff;}\A 264:     }\A 265:     .right{float:left;}\A 266:     ._tab{width:100%;margin-top:10px;clear:both;overflow:hidden;"; }
