/*
Error: Invalid CSS after "...le{width:110px ": expected ";", was "!height:110px !..."
        on line 806 of base.scss

801: }
802: 
803: 
804: /*重写微信 *\/
805: .weui-cell{padding:0 !important;}
806: .weui-uploader__file{width:110px !height:110px !important;}
807: .weui-uploader__file+.weui-uploader__file{margin-left:10px !important;}
808: .weui-cells_form{
809:   &:after{display:none !important}
810:   &:before{display:none !important}
811: }

Backtrace:
base.scss:806
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:1207:in `expected'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:1137:in `expected'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:1132:in `tok!'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:786:in `block in try_declaration'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:1183:in `call'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:1183:in `rethrow'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:791:in `try_declaration'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:720:in `declaration_or_ruleset'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:685:in `block_child'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:674:in `block_contents'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:666:in `block'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:658:in `ruleset'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:684:in `block_child'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:677:in `block_contents'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/scss/parser.rb:41:in `parse'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/engine.rb:406:in `_to_tree'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/engine.rb:281:in `render'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `each'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/exec/base.rb:52:in `parse'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/lib/sass/exec/base.rb:19:in `parse!'
/Users/killerr1/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.24/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...le{width:110px \": expected \";\", was \"!height:110px !...\"\A         on line 806 of base.scss\A \A 801: }\A 802: \A 803: \A 804: /*重写微信 */\A 805: .weui-cell{padding:0 !important;}\A 806: .weui-uploader__file{width:110px !height:110px !important;}\A 807: .weui-uploader__file+.weui-uploader__file{margin-left:10px !important;}\A 808: .weui-cells_form{\A 809:   &:after{display:none !important}\A 810:   &:before{display:none !important}\A 811: }"; }
